* { 
	box-sizing: border-box; 
}

body {
	background-image: url(../img/background-contact.jpg);  
	background-size: cover;
	color: fff;
}

.container {
	width:80%;
	margin: auto;
	margin-top:50px;	
}

.title {
	font-size: 2em;
	color: #fff;
}

.top_panel {
	margin-top: 150px;
	margin-bottom: 50px;
}

.left_panel {
	float:left;
	width: 55%;
	padding: 20px;
}

.right_panel {
	float: left;
	width: 450px;
	border: 3px solid #FD8D3D;
}

.nav {
	width:100%;
	height: 100px;
	background-color: #FD8D3D;
	position: fixed;
	top: 0px;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	padding-top: 36px;
}

/* Typography */

.top_panel {
	font-family: 'Lobster', cursive;
	color: #FD8D3D;
	font-size: 5em;
	text-shadow: 2px 2px 5px #000;
}

.left_panel {
	color: #fff;
	font-size: 1.7em;
	margin-top: 0px;
	padding-top: 5px;
	top: 0px;
	line-height: 60px;
	font-weight: 600;
	background-color: rgba(0,0,0,0.5);
	margin-right: 40px;
	height: 355px;
}

.left_panel h1 {
	font-weight: 600;
	margin-bottom: 20px;
	text-shadow: 2px 2px 5px #000;
	font-size: 1.6em;
	color: #fff;
}

.nav a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	transition: color 300ms; 
	background-color: #F06C0F;
	margin-right: 20px;
	padding: 10px;
}

.nav li {
    display: inline;
    background-color: #FD9348;
}

.nav ul {
	color: 0000;
}

a {
	text-decoration: none;
}

.nav a:hover {
       color: #ff0;
       text-decoration: none;
}

span {
	color: #FD8D3D;
}

.left_panel a {
	color: #fff;
	text-decoration: none; 
}

.left_panel a:hover {
	color: #fff;
	text-decoration: none; 
}

.bottom_panel h1 {
	color: #fff;
}

