html, body, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

body { 
	background-color: #BEDCED; 
	overflow:hidden; 
	font-family: arial;
}

a {  
	color: #1F6FAF;  
	text-decoration: none;	
}

#map-canvas {  
	width:100%; 
	margin: 0; 
	padding: 0; 
	background-color: #BEDCED; 
	-webkit-box-shadow: 0px -5px 8px #000000;
	-moz-box-shadow: 0px -5px 8px #000000; 
	box-shadow: 0px -5px 8px #000000;
}

#text1	{  
	color:#000; 
	cursor:pointer; 
	width:122px; 
	margin:10px; 
	background-color:#75B8FB; 
	color:#fff; 
	padding:5px; 
	border-radius:10px; 
	margin-bottom:20px;  
}

#quickfind { 
	width:205px; 
	padding:5px; 
	border-radius:10px; 
	background-color:#0067b1; 
	color:#fff; 
	font-size:12px; 
	font-weight:bold; 
	font:-webkit-small-control; 
	cursor:pointer;	
}

#box {	
	background-color: #0067b1; 
	color: #fff; 
	z-index:99; 
	top:130px; 
	left:65px; 
	width: 200px; 
	height: 50px;
	position: absolute; 
	padding: 10px; 
	text-align: center; 
	border-radius:10px; 
	font-size:13px; 
	font:-webkit-small-control; cursor:pointer; 
}

.marker {
	height: 25px;
}

#footer {
	height: 25px;
	background-color: red;	
	bottom: 0px;
	position:absolute;
	width: 100%;
	color: #fff;
	font-size: 14px;
	padding-left: 10px;
}

#spacer {
	padding-left: 20px;
	padding-right: 20px;	
	font-size:20px;
}

#footer a {
	color: #fff;
	text-decoration: none;	
}

.poplinks {
	padding: 5px;
	background-color: #0067b1;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;	
	
}

.poplinks:hover {
	color: #0067b1;
	background-color: #FFFFFF;
	border: 1px solid #0067b1;
	
}