body {
  padding: 10px;
  background-color: red;
}

h1 {
  font-size: 88px;
  color: green;
  font-family: verdana;
  padding-top: 30px;
  text-shadow: 44px 0px 0px #fff;
}

#outside {
  height: 300px;
  width: 100%;
  border: 4px solid green;
  margin: auto;
  position: relative;
}

#inside {
  height: 300px;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

#percentage {
  color: green;
  font-size: 160px;
  margin: auto;
  width: 100%;
  text-align: center;
}

#perctext {
  font-size: 190px;
  font-family: verdana;
  margin: auto;
  width: 100%;
}

div {
  text-align: center;
  width: 100%;
}

button {
  width: 240px;
  height: 45px;
  font-size: 22px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

#title span {
  font-size: 32px;
}

input {
  margin-right: 30px;
  font-family: verdana;
  font-size: 22px;
  width: 60px;
}

.inputs {
  color: green;
  font-family: verdana;
  font-size: 22px;
}